# Xcode build artifacts
DerivedData/
*.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/

# macOS
.DS_Store

# Config (for testing)
config.json

# Random
.vscode
Planning