<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LSMinimumSystemVersion</key>
	<string>15.0</string>
	<key>NSSupportsAutomaticTermination</key>
	<true/>
	<key>NSSupportsSuddenTermination</key>
	<false/>
	<key>SSChatMixRequiredPluginVersion</key>
	<string>1.1.0</string>
	<key>SUEnableAutomaticChecks</key>
	<true/>
	<key>SUFeedURL</key>
	<string>https://raw.githubusercontent.com/k0nker/ss_chatmix_macOS/main/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>2ncaVOGIcEVWd6vM2s4IlIQ0J+vOUj7GHWeL6QmMzK4=</string>
</dict>
</plist>
