<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LSMinimumSystemVersion</key>
	<string>13.0</string>
	<key>LSUIElement</key>
	<true/>
	<key>NSMicrophoneUsageDescription</key>
	<string>SSChatMix needs access to audio devices to monitor and mix game and chat audio levels using your ChatMix dial.</string>
	<key>NSSupportsAutomaticTermination</key>
	<true/>
	<key>NSSupportsSuddenTermination</key>
	<false/>
	<key>SUPublicEDKey</key>
	<string>2ncaVOGIcEVWd6vM2s4IlIQ0J+vOUj7GHWeL6QmMzK4=</string>
	<key>SUFeedURL</key>
	<string>https://github.com/k0nker/ss_chatmix_macOS/releases.atom</string>
	<key>SUEnableAutomaticChecks</key>
	<true/>
</dict>
</plist>
