<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AudioServerPlugIn_PlugInName</key>
	<string>SSChatMix</string>
	<key>AudioServerPlugIn_PlugInVersion</key>
	<integer>1</integer>
	<key>CFPlugInDynamicRegistration</key>
	<string>NO</string>
	<key>CFPlugInFactories</key>
	<dict>
		<key>FA96F2C8-C7B4-4F4D-9E3A-1A2B3C4D5E6F</key>
		<string>SSChatMixPlugIn_Create</string>
	</dict>
	<key>CFPlugInTypes</key>
	<dict>
		<key>443ABAB8-E7B3-491A-B985-BEB9187030DB</key>
		<array>
			<string>FA96F2C8-C7B4-4F4D-9E3A-1A2B3C4D5E6F</string>
		</array>
	</dict>
</dict>
</plist>
